<!-- about section starts  -->

<section class="about" id="about">

    <div class="image" data-aos="fade-right"></div>

    <div class="content" data-aos="fade-left">
        <h3>About Us</h3>
        <p>Sparks online banking helps accessing your bank account and carrying out financial transactions through the
            internet on your smartphone, tablet or computer.</p>
        <p>It’s quick, usually free and allows you to carry out a number of tasks such as paying bills and transferring
            money, without having to visit or call your bank.</p>
        <a href="#"><button class="btn">learn more</button></a>
    </div>

</section>

<!-- about section ends -->