<!-- footer section starts  -->

<div class="footer">

    <div class="box-container">

        <div class="box">
            <h3>contact info</h3>
            <p> <i class="fas fa-map-marker-alt"></i> Tenkasi, Tamil Nadu, India - 627862</p>
            <p> <i class="fas fa-envelope"></i> brundhasubramanian@gmail.com </p>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="https://www.instagram.com/infinite_luv_shower/" target="blank">instagram</a>
            <a href="https://www.facebook.com/brundha.subramanian.5" target="blank">facebook</a>
            <a href="https://www.linkedin.com/in/brundha-s-k-59902b1a2/" target="blank">linkedin</a>
            <a href="https://github.com/BrundhaSK" target="blank">Github</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            
            <a class="active" href="/">home</a>
            <a href="#about">About Us</a>
            <a href="#top_customers">Top Customers</a>
            <a href="/transaction">Make Transaction</a>
        </div>

    </div>

    <h1 class="credit">Created and Designed by <a href="#">Brundha SK</a> all rights reserved. </h1>

</div>

<!-- footer section ends -->