<!-- header section starts  -->

<header>

    <a href="#" class="logo"><img src="/images/logo.png" alt=""></a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <ul>
            <li><a class="active" href="/">home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#top_customers">Top Customers</a></li>
            <li><a href="/transaction">Make Transaction</a></li>
        </ul>
    </nav>

</header>

<!-- header section ends -->